@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 15px;

  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  /* font-variation-settings: "wdth" 100; */

  --shadow: 0px 33.50785446166992px 67.01570892333984px 0px
    rgba(162, 169, 192, 0.15);

  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
small,
span,
b,
i,
code {
  @apply font-bricolage;
}

html,
body {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Track */
body::-webkit-scrollbar {
  background: #001f3f;
  width: 10px;
  /* width of the scrollbar */
}

body::-webkit-scrollbar:hover {
  background: #00bfff;
  width: 8px;
  /* width of the scrollbar */
}

/* Handle */
body::-webkit-scrollbar-thumb {
  /* color of the scrollbar handle */
  background: #00bfff;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #001f3f;
  /* color of the scrollbar handle on hover */
}

.heroImg {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(/heroBg.png) lightgray 50% / cover no-repeat;
}

.mywrapper {
  @apply px-[3%] md:px-[4%] lg:px-[8%] w-full max-w-full;
}

.bord {
  @apply border-sky-800 border-8;
}

.RevolutionizingBg {
  background: url(/RevolutionizingBg.png);
}

.belovedClientBg {
  background: url(/belovedclientBg.png) lightgray 50% / cover no-repeat;
}

/* .debuger {
  outline: 5px solid red;
  outline-offset: -3px;
}

.debuger > * {
  outline: 8px solid yellow;
  outline-offset: -6px;
} */
